body{
	background:#eee;
	font-family: 'Open Sans', sans-serif;
}

li {
	list-style-type: none;
    display: block;
    float: left;
    width: 33.33%;
}

#overlay {
	width: 100%;
	float: left; 
	text-align: center; 
	display: block;

}

.movieTitleClass {
	display: none;
}

#movieTitle {
	display: inline; 
}

#overlayDiv {
	display: none;
}

button#exit {
	display: none; 
	text-align: center; 
	margin: 0 auto; 
	padding: 15px;
    background-color: blue;
    color: white;
    font-size: 20px;
    width: 150px;
    border-radius: 7px;
}
button#exit:hover {
	opacity: .7;
}